@page
@model IndexModel
@{
    ViewData["Title"] = "Início - EmatWeb";
}


<a class="btn btn-primary" asp-page="/GestaoEscolar/Index">Gestão Escolar</a>
<a class="btn btn-primary" asp-page="/GestaoAdministrativa/Index">Gestão Administrativa</a>
<a class="btn btn-primary" asp-page="/GestaoSistema/Index">Gestão do Sistema</a>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
