@page "{handler?}"
@model EmatWebApp.Pages.GestaoSistema.Usuario.IndexModel
@{
}

<h1>Gestão do Sistema > Usuário</h1>
<h2>Início</h2>

<div class="col-lg-1">
    <form asp-page-handler="CallAPI" method="post">
        <button class="btn btn-default">Call API</button>
    </form>
    <br />
</div>
