<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4netConfigurationHandler, log4net" />    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <!--<appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    --><!--<add key="ClientSettingsProvider.ServiceUri" value="" />--><!--
    <add key="EmatriculaSettingsIsComplete" value="true" />
    <add key="EmatriculaSettingsCeeja" value="Votorantim" />
    <add key="EmatriculaSettingsCeejaNome" value="CEEJA PROFª. MERTILA LARCHER DE MORAES" />
    <add key="EmatriculaSettingsCeejaCidadeId" value="2312" />
    <add key="EmatriculaSettingsDiretorioFotos" value="\\servidor\DADOS_SISTEMA\FOTOS" />
    <add key="EmatriculaSettingsDiretorioBarcode" value="\\servidor\DADOS_SISTEMA\BARCODES" />
    <add key="EmatriculaSettingsUIHabilitaMenuAtividadeExtra" value="false" />
    <add key="EmatriculaSettingsUIHabilitaMenuImpressaoRaLote" value="true" />
    <add key="EmatriculaSettingsUINomenclaturaModuloPassaporte" value="U.E." />
    <add key="EmatriculaSettingsConnectionStringADO" value="Data Source=SPIKEPC; Initial Catalog=ceeja_votorantim; User ID=Flipper; Password=flipper" />
    <add key="EmatriculaSettingsConnectionStringEF" value="data source=SPIKEPC; initial catalog=ceeja_votorantim; user id=Flipper; password=flipper; MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->  
    <add key="EmatriculaSettingsIsComplete" value="true" />
    <add key="EmatriculaSettingsCeeja" value="Sorocaba" />
    <add key="EmatriculaSettingsCeejaNome" value="CEEJA PROF. NORBERTO SOARES RAMOS" />
    <add key="EmatriculaSettingsCeejaCidadeId" value="2185" />
    <add key="EmatriculaSettingsDiretorioFotos" value="" />
    <add key="EmatriculaSettingsDiretorioBarcode" value="" />
    <add key="EmatriculaSettingsUIHabilitaMenuAtividadeExtra" value="false" />
    <add key="EmatriculaSettingsUIHabilitaMenuImpressaoRaLote" value="false" />
    <add key="EmatriculaSettingsUINomenclaturaModuloPassaporte" value="MOD." />
    <add key="EmatriculaSettingsConnectionStringADO" value="Data Source=SPIKEPC; Initial Catalog=ceeja_sorocaba; User ID=Flipper; Password=flipper" />
    <add key="EmatriculaSettingsConnectionStringEF" value="data source=SPIKEPC; initial catalog=ceeja_sorocaba; user id=Flipper; password=flipper; MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Report:" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="C:\Logs\MyLogFile.txt" />
      <appendToFIle value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <!--ERROR_LOG-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection,       System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="connectionStringADO" />
      <commandText value="INSERT INTO ERROR_LOG ([DATETIME], [THREAD], [TYPE], [SOURCE], [MESSAGE], [EXCEPTION])                          VALUES (@log_date, @log_thread, @log_level, @log_source, @log_message, @log_exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_message" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_thread" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_source" />
        <dbType value="AnsiString" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_exception" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!--PRINT_LOG-->
    <appender name="AdoNetAppenderPrintLog" type="log4net.Appender.AdoNetAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Report:" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="connectionStringADO" />
      <commandText value="INSERT INTO dbo.PRINT_LOG ([DATETIME], [N_MAT], [REPORT_NAME], [ID_USER], [PARAMETERS])                     VALUES (@log_date, @log_n_mat, @log_report_name, @log_id_user, @log_parameters)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_n_mat" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{n_mat}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_report_name" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{report_name}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_id_user" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{id_user}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_parameters" />
        <dbType value="AnsiString" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{parameters}" />
        </layout>
      </parameter>
    </appender>
    <!--DEBUG APPENDER-->
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="AdoNetAppenderPrintLog" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>