@page
@model EmatWebApp.Pages.GestaoEscolar.IndexModel
@{
    ViewData["Title"] = "Gestão Escolar - EmatWeb";
}

<h1>Gestão Escolar</h1>
<h2>Início</h2>

<a asp-page="/GestaoEscolar/Aluno/Index">Aluno</a>


