<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connSql1" connectionString="Data Source=SERVMAT\SQLEXPRESS;Initial Catalog=bd-mat;Persist Security Info=True;User ID=userserv;Password=senha"/>
    <add name="connSql2" connectionString="Data Source=FLIPPER-NOTE\SQLEXPRESS;Initial Catalog=bd-mat;Persist Security Info=True;User ID=userserv;Password=senha"/>
    <add name="connSql3" connectionString="Data Source=SERVIDOR\SQLEXPRESS;Initial Catalog=bd-mat-americana;Persist Security Info=True;User ID=userserv;Password=senha"/>
    <add name="connSql4" connectionString="Data Source=FLIPPER-NOTE\SQLEXPRESS;Initial Catalog=bd-mat-americana;Persist Security Info=True;User ID=userserv;Password=senha"/>
    <add name="connSql5" connectionString=""/>
    <add name="E_Matricula.Properties.Settings.BDMatriculaConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BD\BDMatricula.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="E_Matricula.Properties.Settings.BDMatriculaConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BDMatricula.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="E_Matricula.Properties.Settings.bd_matConnectionString" connectionString="Data Source=SERVMAT\SQLEXPRESS;Initial Catalog=bd-mat;Persist Security Info=True;User ID=userserv;Password=senha" providerName="System.Data.SqlClient"/>
    <add name="E_Matricula.Properties.Settings.bd_matFLIPPERNOTE" connectionString="Data Source=FLIPPER-NOTE\SQLEXPRESS;Initial Catalog=bd-mat;Persist Security Info=True;User ID=userserv;Password=senha" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
